#banner {
    background-image: url(assets/cat-big.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

#ani {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: anima;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
#ani {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: anima;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes anima {
    0% {
        left:0px;
        top:0px;
    }
    25% {
        left:550px; 
        top:0px;
    }
    50% {
        left:550px; 
        top:270px;
    }
    75% {
        left:0px;
        top:270px;
    }
    100% {
        left:0px;
        top:0px;
    }
}

@media screen and (max-width: 575px) {
    #ani {
        position: absolute;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        animation-name: anima;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 5s;
    }
    @keyframes anima {
        0% {
            left:0px;
            top:-20px;
        }
        25% {
            left:200px; 
            top:-20px;
        }
        50% { 
            left:200px; 
            top:200px;
        }
        75% {
            left:0px;
            top:200px;
        }
        100% {
            left:0px;
            top:0px;
        }
    }
}